.footer{
    font-family: 'Nunito-Black';

    background: #004421;
    color: #00ff95;

    z-index: 1000;
    height: 160px;

    margin: 15px -15px -15px -15px;

    display: block;
    justify-content: center;
    align-content: center;
    
}

.footer img { 
    flex: 1 1 0;

    width: 100%;
    max-width: 100%;
    height: 100px;
    max-height: 100px;

    height: auto;
    background-color: rgb(0, 96, 59);

    object-fit: contain;
}

.footer a img { 
    background-color: red;
}

.footer ul {
    flex: 1;

    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;

    list-style: none;

    margin: 0;
    padding: 0;
}

.footer li {
    flex: 1;
    min-width: 0;

    text-align: center;

    height: 40px;

    width: 40px;
    max-width: 40px;

    margin: 0 10px;
}

.footer a {
    color: #00ffc3;
    text-decoration: none;
    
    display: flex;

    justify-content: center;
    align-items: center;

    transition: color 0.3s, background-color 0.3s ease-in-out;

    background-color: rgb(0, 27, 17);

    border-radius: 20px;

    font-size: 20px;

    height: 100%;
    width: 100%;

    overflow: hidden;
}