.footer {
    font-family: 'Nunito-Black';
    background: #004421;
    color: #00ff95;
    z-index: 1000;
    height: 160px;
    margin: 15px -15px -15px -15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 100px;
    width: 100%;
    
    object-fit: contain;
    background-color: rgb(0, 96, 59);
    margin-bottom: 10px;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer li {
    display: flex;
    width: 30px;
    height: 30px;

    background-color: rgb(0, 27, 17);
    border-radius: 50%;

    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    color: #00ffc3;
    transition: color 0.3s, background-color 0.3s ease-in-out;
}

.footer a img {
    background-color: transparent;
    filter: invert(76%) sepia(100%) saturate(2506%) hue-rotate(89deg) brightness(100%) contrast(103%);
    transition: filter 0.1s linear, transform 0.2s cubic-bezier(0.175, 0.885, 0, 1.4);

    transform: scale(0.5);
}

.footer a:hover img {
    filter: invert(100%) sepia(16%) saturate(3918%) hue-rotate(182deg) brightness(126%) contrast(100%);
    transform: translateY(-2px) scale(0.6);
}
