.topbar {
    font-family: 'Nunito-Black';

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: #004421;
    color: #00ff95;
    z-index: 1000;
    height: 60px;

    display: flex;
    align-items: center;
}

.topbar ul {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    height: 100%;
    overflow: visible;
    position: static; /* Add this line */
}

.topbar li {
    flex: 1 1 0;
    min-width: 0;
    text-align: center;
    padding: 5px;
    height: 80%;
    position: relative; /* Add this */
    overflow: visible;  /* Add this */
}

.topbar img {
    flex: 0 0 10%;
    height: 80px;
    margin: 0 10px;
    object-fit: contain;
}

.topbar a {
    color: #00ffc3;
    text-decoration: none;
    
    display: flex;

    justify-content: center;
    align-items: center;

    transition: color 0.3s, background-color 0.3s ease-in-out;

    background-color: rgb(0, 27, 17);

    border-radius: 10px;

    font-size: 20px;

    height: 100%;
    width: 100%;

    overflow: hidden;

    pointer-events: none;
}

.topbar a:hover {
    color: #fcce03;
    background-color: rgb(88, 67, 0);
}



.dropdown {
    position: absolute;
}

.dropdown .dropdown-content {
    display: block;
    padding: 0px;
    height: 0px;

    margin-top: 3px;

    transition: height 0.4s cubic-bezier(0.175, 0.885, 0, 1.4);
}

.dropdown:hover a {
    pointer-events: all;
}

.dropdown:hover .dropdown-content {
    height: 50px;
}

.dropdown li {
    padding: 2px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown.open .dropdown-content {
  height: 50px;
}

.dropdown.open > a {
  pointer-events: all;
}
