.topbar {
    font-family: 'Nunito-Black';

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: #004421;
    color: #00ff95;
    z-index: 1000;
    height: 60px;

    display: flex;
    align-items: center;
}

.topbar ul {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    height: 100%;
    overflow: visible;
    position: static; /* Add this line */
}

.topbar li {
    flex: 1 1 0;
    min-width: 0;
    text-align: center;
    padding: 5px;
    height: 80%;
    position: relative; /* Add this */
    overflow: visible;  /* Add this */
}

.topbar img[class="main-icon"] {
    display: flex;

    flex: 0 0 10%;
    height: 120%;

    object-fit: contain;
}

.topbar a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #00ffc3;
    text-decoration: none;

    font-size: clamp(10px, 3vw, 20px);
    
    background-color: rgb(0, 27, 17);
    border-radius: 10px;

    width: 100%;
    height: 100%;
    overflow: hidden;

    gap: 5px;

    line-height: 1;
    
    transition: color 0.3s, background-color 0.3s ease-in-out;
}

.topbar a:hover {
    color: #fcce03;
    background-color: rgb(88, 67, 0);
}

.topbar a img {
    width: 25px;
    height: 25px;
    object-fit: contain;

    filter: invert(76%) sepia(100%) saturate(2506%) hue-rotate(89deg) brightness(100%) contrast(103%);
    transition: filter 0.2s ease;
}

/* Changement de couleur au survol */
.topbar a:hover img {
    filter: invert(100%) sepia(16%) saturate(3918%) hue-rotate(182deg) brightness(126%) contrast(100%);
}


.dropdown {
    position: absolute;
}

.dropdown .dropdown-content {
    display: block;
    padding: 0px;
    height: 0px;

    margin-top: 3px;

    transition: height 0.4s cubic-bezier(0.175, 0.885, 0, 1.4);
}

.dropdown:hover a {
    pointer-events: all;
}

.dropdown:hover .dropdown-content {
    height: 50px;
}

.dropdown li {
    padding: 2px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown.open .dropdown-content {
  height: 50px;
}

.dropdown.open > a {
  pointer-events: all;
}
